.main-employee-container {
    border: 1px solid blue;
    padding: 10px;
    width: 40%;
    height: 10%;
    margin-bottom: 5px;
    margin-top: 10px;
}
.main-employee-container div{    
    padding:10px;
} 